.vscode/
OthheloServer.vcxproj.filters
OthheloServer.vcxproj.user
OthheloServer/x64/
x64/
.vs/
Debug/
CMakeFiles/
CMakeCache.txt
Makefile
OthelloServer
cmake_install.cmake
a.out
/game.cpp.bak
/othheloserver.h.bak
/othheloserver.cpp.bak
out/
/OttheloServer.vcxproj.filters
/OttheloServer.vcxproj.user
